{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% include 'head_css.html' %}


  </head>

  <body class="hold-transition skin-black sidebar-mini">

  <!-- Left side column. contains the logo and sidebar -->
  {% include 'nav-bar.html' %}

  <!-- Left side column. contains the logo and sidebar -->
  {% include 'side-bar.html' %}

    <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Painel de controle SCA
        <small>Sistemas 2DEV</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Início</a></li>
        <li class="active">Painel</li>
      </ol>
    </section>

    {% block content %}

    {% endblock %}

        <!-- right col -->
      </div>
      <!-- /.row (main row) -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Versão</b> 1.9
    </div>
    <strong>Copyright &copy; 2016 <a href="#">2DEV Sistemas</a>.</strong> Todos os direitos reservados.
  </footer>
  
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

{% include 'javascript.html' %}

</html>
