{% extends "base.html" %} {% block content %}
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary x box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">Cadastro de Usuário</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
          </div>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="nav-tabs-custom">
            <form method="post" action="">{% csrf_token %}
              <div class="tab-content">
                <div class="tab-pane active" id="tab_1">

                  <!-- <form method="post" action="">{% csrf_token %} -->

                  <div class="row">
                    <!-- text input -->
                    <h3 style="margin-left:15px;"> Informações gerais </h3>
                    <div class="col-md-6">

                      <div class="form-group">
                        <label>Usuário</label>
                        <select class="form-control" name="user" value="{{ user.id }}">
                          <option value="{{ user.id }}" selected="">{{ user }}</option>

                          </select>
                        </div>

                          <div class="form-group">
                            <label>Nome</label>
                            <input type="text" class="form-control" name="nome" placeholder="Digite o nome" required/>
                          </div>

                          <div class="form-group">
                            <label>CPF</label>
                            <input class="form-control" id="cpf" name="cpf" placeholder="Número de CPF" required/>
                          </div>

                          <div class="form-group">
                            <label>Cidade</label>
                            <input type="text" class="form-control" name="cidade" placeholder="Cidade de origem do colaborador" required />
                          </div>

                          <div class="form-group">
                            <label>Bairro</label>
                            <input class="form-control" name="bairro" placeholder="Ex: Centro" required/>
                          </div>

                          <div class="form-group">
                            <label>CEP</label>
                            <input class="form-control" id="CEP" name="cep" required/>
                          </div>

                          <div class="form-group">
                            <label>Lotado</label>
                            <input class="form-control" name="lotado" placeholder="Ex: Filial Palmas" required/>
                          </div>


                        </div>



                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Data de Nascimento</label>

                            <div class="input-group">
                              <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                              </div>
                              <input type="date" class="form-control" name="dataN" id="data" class="datas" value=" " size="20" maxlength="10" maxlengt="8" required />
                            </div>
                            <!-- /.input group -->
                          </div>

                          <div class="form-group">
                            <label>Estado</label>

                            <select class="form-control" name="estado" required >
                              <option value="">Selecione</option>
                              <option value="AC">Acre</option>
                              <option value="AL">Alagoas</option>
                              <option value="AP">Amapá</option>
                              <option value="AM">Amazonas</option>
                              <option value="BA">Bahia</option>
                              <option value="CE">Ceará</option>
                              <option value="DF">Distrito Federal</option>
                              <option value="ES">Espirito Santo</option>
                              <option value="GO">Goiás</option>
                              <option value="MA">Maranhão</option>
                              <option value="MS">Mato Grosso do Sul</option>
                              <option value="MT">Mato Grosso</option>
                              <option value="MG">Minas Gerais</option>
                              <option value="PA">Pará</option>
                              <option value="PB">Paraíba</option>
                              <option value="PR">Paraná</option>
                              <option value="PE">Pernambuco</option>
                              <option value="PI">Piauí</option>
                              <option value="RJ">Rio de Janeiro</option>
                              <option value="RN">Rio Grande do Norte</option>
                              <option value="RS">Rio Grande do Sul</option>
                              <option value="RO">Rondônia</option>
                              <option value="RR">Roraima</option>
                              <option value="SC">Santa Catarina</option>
                              <option value="SP">São Paulo</option>
                              <option value="SE">Sergipe</option>
                              <option value="TO">Tocantins</option>
                            </select>

                          </div>

                          <div class="form-group">
                            <label>Endereço</label>
                            <input class="form-control" name="endereco" placeholder="Ex: Rua A, nº 15" required/>
                          </div>

                          <div class="form-group">
                            <label>Complemento</label>
                            <input class="form-control" name="complemento" placeholder="Ex: Partão branco" required/>
                          </div>

                          <div class="form-group">
                            <label>Setor</label>
                            <input class="form-control" name="setor" placeholder="Ex: Diretoria" required/>
                          </div>

                          <div class="form-group">
                            <label>Cargo</label>
                            <input class="form-control" name="cargo" placeholder="Ex: Fiscal 1" required/>
                          </div>

                          <div class="form-group">
                            <label>Nº Funcional</label>
                            <input class="form-control" name="nfuncional" placeholder="Ex: Fiscal 1" required/>
                          </div>

                        </div>
                      </div>
                  </div>
                  <!-- /.tab-pane -->

                  <div class="row">

                    <h3 style="margin-left:15px;"> Informações de contato </h3>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Telefone</label>
                        <input class="form-control" id="telefone" name="telefone" placeholder="( )_ ____-____" required/>
                      </div>
                      <div class="form-group">
                        <label>WhatsApp</label>
                        <input class="form-control" id="whatsapp" name="whatsapp" placeholder="( )_ ____-____" required/>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control" placeholder="contato@mail.com" required/>
                      </div>
                    </div>
                    <div class="form-group">
                    </div>
                  </div>

                  <button style="margin: 10px;" class="btn btn-lg btn-success pull-right" type="submit">Salvar
                  </button>

                </div>
              </form>
              <!-- /.tab-pane -->

              <!-- <div class="row">
                <form method="get" action="new-user-cad.html">
                  <button class="btn btn-lg btn-danger pull pull-right" style="margin-right:30px;" type="submit">Criar login e senha</button>
                </form>
              </div> -->

            </div>

            <!-- </form> -->

          </div>
          <!-- <button class="btn btn-success pull-right" type="submit">Salvar
        </button> -->
        <!-- /.tab-pane -->
      </div>
      <!-- /.tab-content -->
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->

</section>

{% endblock %}
